# Data Exploration

## Instructions
There are some data files related to transaction saved under the [data](../data) folder:
- Looking into the data using appropriate functions and extract the fields in the data.
- For each data, describe what the data is about and what fields are saved.

You need to answer the questions and perform the task below:
- How many transactions are in GBP?
- How many transactions are NOT in USD?
- What is the average and mediam transaction in USD?
- Construct a table showing the number of transactions in EACH currency

Note:
- You are NOT ALLOWED to import other library or package
- You can write you own functions
- Your answers should be readable with approprate comments
- You can refer to [markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) if you are not familar with Markdown

## Import libraries

In [1]:
# Usual libraries are imported here
import os
import yaml
import dask.dataframe as dd
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Please perform your tasks below and answer the questions

### 0. Data preprocessing

In [2]:
df = pd.read_csv('/Users/yangyong/Documents/文稿/git/brickmovers_explor_and_vis-1/data/transactions.csv')

In [3]:
df.head()

,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID,AMOUNT_USD
0,GBP,175,COMPLETED,2017-12-20 12:46:20.294,cafe,GBR,cont,8f99c254-7cf2-4e35-b7e4-53804d42445d,CARD_PAYMENT,GAIA,b3332e6f-7865-4d6e-b6a5-370bc75568d8,220
1,EUR,2593,COMPLETED,2017-12-20 12:38:47.232,bar,AUS,cont,ed773c34-2b83-4f70-a691-6a7aa1cb9f11,CARD_PAYMENT,GAIA,853d9ff8-a007-40ef-91a2-7d81e29a309a,2885
2,EUR,1077,COMPLETED,2017-12-20 12:34:39.668,NaN,CZE,cont,eb349cc1-e986-4bf4-bb75-72280a7b8680,CARD_PAYMENT,GAIA,04de8238-7828-4e46-91f1-050a9aa7a9df,1198
3,GBP,198,COMPLETED,2017-12-20 12:45:50.555,supermarket,GBR,cont,dc78fbc4-c936-45d3-a813-e2477ac6d74b,CARD_PAYMENT,GAIA,2b790b9b-c312-4098-a4b3-4830fc8cda53,249
4,EUR,990,COMPLETED,2017-12-20 12:45:32.722,NaN,FRA,cont,32958a5c-2532-42f7-94f9-127f2a812a55,CARD_PAYMENT,GAIA,6469fc3a-e535-41e9-91b9-acb46d1cc65d,1101

In [4]:
df.columns

Index(['CURRENCY', 'AMOUNT', 'STATE', 'CREATED_DATE', 'MERCHANT_CATEGORY',
       'MERCHANT_COUNTRY', 'ENTRY_METHOD', 'USER_ID', 'TYPE', 'SOURCE', 'ID',
       'AMOUNT_USD'],
      dtype='object')

### 1. How many transactions are in GBP?

In [5]:
cnt_GBP = df['CURRENCY'].value_counts()['GBP']
print(f'{cnt_GBP} transactions are in GBP.')

339091 transactions are in GBP.

### 2. How many transactions are NOT in USD?

In [6]:
cnt_USD = df['CURRENCY'].value_counts()['USD']
cnt_totoal = df.shape[0]

print(f'{cnt_totoal - cnt_USD} transactions are not in USD.')

657109 transactions are not in USD.

### 3. What is the average and mediam transaction in USD?

In [7]:
df_USD = df[df['CURRENCY'] == 'USD']
df_USD.head()

,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID,AMOUNT_USD
69,USD,470000,COMPLETED,2017-12-20 13:36:53.784,NaN,NaN,misc,50711c3a-c796-45d0-b84e-585a2048491d,BANK_TRANSFER,CRONUS,7a0cca0b-c78f-4599-99d6-44a29e69b4f5,470000
197,USD,100,REVERTED,2017-12-20 15:54:00.912,atm,GBR,manu,c1e14f12-eb4b-4d9e-967c-e5f4ccd39197,CARD_PAYMENT,GAIA,503e4a7a-e064-4434-b35b-484f475666f4,100
214,USD,3469,COMPLETED,2017-12-20 16:30:39.077,NaN,BHS,chip,4ada4c42-4d43-4820-ab37-349c8030f1b0,CARD_PAYMENT,GAIA,f8cc04ac-5311-45fd-b1e6-8c8018ede30e,3469
262,USD,4141,COMPLETED,2017-12-20 16:45:00.705,cafe,USA,chip,931a81d5-eeb2-4e24-b05d-efb10c6a9c3a,CARD_PAYMENT,GAIA,3509d520-6a01-4048-9ea2-35537b89961d,4141
268,USD,138,COMPLETED,2017-12-20 16:53:45.136,point_of_interest,USA,mags,a7db1101-a76c-48bc-a84c-2eface9eea4f,CARD_PAYMENT,GAIA,430f6b53-543b-4c04-be09-12b46a8770c9,138

In [8]:
amount = df_USD['AMOUNT']

avg_USD = amount.mean()
mid_USD = amount.median()

print(f'average: {round(avg_USD)}\nmediam: {round(mid_USD)}')

average: 11599
mediam: 2000

### 4. Construct a table showing the number of transactions in EACH currency

In [9]:
df['CURRENCY'].value_counts()

GBP    339091
EUR    264695
USD     31542
PLN     22362
RON      5837
CHF      5761
NOK      2602
AUD      2110
DKK      1711
SEK      1579
CZK      1507
CAD      1463
HUF      1446
ZAR      1126
AED       847
JPY       733
NZD       717
THB       690
ILS       522
SGD       487
HKD       480
TRY       338
BTC       283
INR       207
ETH       197
LTC       137
MAD       115
XRP        38
QAR        28
Name: CURRENCY, dtype: int64