In [1]:
# Usual libraries are imported here
import os
import yaml
import dask.dataframe as dd
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
countries = pd.read_csv('countries.csv')
currency = pd.read_csv('currency_details.csv')
fraud = pd.read_csv('fraudsters.csv')
salary = pd.read_csv('Salary_Data.csv')
users = pd.read_csv('users.csv')
germancredit = pd.read_csv('german_credit_data.csv')
transactions = pd.read_csv('transactions.csv')

#### How many transactions are in GBP?

In [3]:
curr = transactions.groupby(['CURRENCY']).size().reset_index()
curr.columns = ['CURRENCY','number of transactions']
GBP = curr.loc[curr['CURRENCY'] == 'GBP']
GBP

  CURRENCY  number of transactions
9      GBP                  339091

#### How many transactions are NOT in USD?

In [6]:
sum_ = curr['number of transactions'].sum()
USD = curr.loc[curr['CURRENCY'] == 'USD']
USD = USD.iloc[0]['number of transactions']
print(sum_-USD)

657109

#### What is the average and mediam transaction in USD?

In [9]:
avg = transactions['AMOUNT_USD'].mean()
avg

7130792.75487148

In [8]:
median = transactions['AMOUNT_USD'].median()
median

1475.0

#### Construct a table showing the number of transactions in EACH currency

In [10]:
curr

   CURRENCY  number of transactions
0       AED                     847
1       AUD                    2110
2       BTC                     283
3       CAD                    1463
4       CHF                    5761
5       CZK                    1507
6       DKK                    1711
7       ETH                     197
8       EUR                  264695
9       GBP                  339091
10      HKD                     480
11      HUF                    1446
12      ILS                     522
13      INR                     207
14      JPY                     733
15      LTC                     137
16      MAD                     115
17      NOK                    2602
18      NZD                     717
19      PLN                   22362
20      QAR                      28
21      RON                    5837
22      SEK                    1579
23      SGD                     487
24      THB                     690
25      TRY                     338
26      USD                   31542
27      XRP                      38
28      ZAR                    1126